In [3]:
a = 3
print(3)

3

# DATA TYPES

In [4]:
# COMPLEX DATATYPE
# it is used for quadratic equations not important for ai ml
#with complex data type only j variable can be used


#none datatype

'''
a="" -> Empty string -> none

we only need precise answer while doing ai and data science project so we dont use double (round off hunu bhhayena tesaile double use hunna)

'''



#naming convention
'''
camel case -> used while naming function eg: firstDemo no underscore 
snake case -> used while naming variable eg: first_name all words must be on lower cse


'''

'\ncamel case -> used while naming function eg: firstDemo no underscore \nsnake case -> used while naming variable eg: first_name all words must be on lower cse\n\n\n'

In [2]:
#input function
firstName = input("Enter your first name: ")
print(firstName)

hello

In [ ]:
# number = int (input("enter a number"))
# print(number)
#note: integer doesnt accept float value but float do accept int value
floatnum = float(input("enter a floating point: "))
print(floatnum)

12.3

In [9]:
first_name = input("enter first name: ")
last_name = input("enter last name: ")

print("My name is "+first_name +" "+ last_name+".") #""=> literal character

My name is Krishtina Maharjan.

In [10]:
#fstring
first_name = input("enter first name: ")
last_name = input("enter last name: ")
age = int(input("enter your age: "))
address = input("enter your adress: ")
qualification = input("enter your qualification: ")

print(f"my name is {first_name+" "+last_name}. I am {age} years old. I live at {address}. I have {qualification}")

my name is Krishtina Maharjan. I am 20 years old. I live at Thecho. I have Mern

In [13]:
#typecasting  -> check data type
numeric = 3

floatnum = float(numeric)
type(floatnum)
print(floatnum)

3.0

#operator

In [ ]:
#operators
''' 
// -> float division
** - > power
'''

In [17]:
a = 5
b = 2
div = a // b #float division removes deccimal value
print(div)

2

In [ ]:

'''
control statement
if
if-elif
if-elif-else
nested if



loops
for loop
while loop
for else
'''

In [ ]:
temp = 30
if temp >30:
    print("its hot today")

else:
    print("its not hot today")

its not

In [5]:
a = 50
b =100
c=90

if a>b:
    print("a is greater")

elif b>c:
    print("b is greater")

else:
    print("c is greater")

b is greater

In [11]:
marks = float(input("enter marks: "))

if marks >=80 and marks <=100:
    print("distinction")

elif marks >=60 and marks<=79.9:
    print("1st division")

elif marks >=50 and marks<=59.9:
    print("2nd division")

elif marks >=40 and marks<=49.9:
    print("3rd division")

elif marks<=39:
    print("fail")

else:
    print("invalid")

1st division

In [5]:
subject1 = float(input("enter marks for subject 1: "))
subject2 = float(input("enter marks for subject 2: "))
subject3 = float(input("enter marks for subject 3: "))
subject4 = float(input("enter marks for subject 4: "))
subject5 = float(input("enter marks for subject 5: "))

print("grand total: 500")
total = subject1+subject2+subject3+subject4+subject5


average = total /5
print("total obtained by student: ",total)
print("average obtained by student: ",average)

if average >=80 and average <=100:
    # print("distinction")
    res = "distinction"

elif average >=60 and average<=79.9:
    # print("1st division")
    res = "1st division"

elif average >=50 and average<=59.9:
    # print("2nd division")
    res = "2nd division"

elif average >=40 and average<=49.9:
    # print("3rd division")
    res = "3rd division"

elif average<=39:
    print("fail")

else:
    print("invalid marks")

print("Your result is: ",res)

grand total: 500
total obtained by student:  430.0
average obtained by student:  86.0
Your result is:  distinction